* {
    font-family: 'Nunito';
}

body {
    margin: 0;
    padding: 0;
}

.color {
    color: rgb(133, 122, 200);
}

/* Navigation styling */

.link {
    text-decoration: none;
    color: black;
}

.nav-links > ul{
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/*
header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 600;
}

.nav-links {
    width: 100%;
    position: absolute;
    align-items: center;
    cursor: pointer;
    position: fixed;
}*/

header {
    height: 100px;
}

.nav-links {
    position: fixed;
    top: 0px;
    background-color: white;
    display: block;
    align-items: center;
    width: 100%;
    height: max-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 600;
}

.nav-links > ul > li {
    display: inline-block;
    padding: 0px 10px;
}

.link:hover {
    color: rgb(133, 122, 200);
    transition: all 0.2s ease;
}

.link:focus {
    color: rgb(133, 122, 200);
}

.link:active {
    color: rgb(133, 122, 200);
}

/*Navigation styling end*/

/*Article styling*/

#home-article {
    float: left;
    width: 80%;
    padding-left: 30px;
}

#normal-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.table:after {
    content: "";
    display: table;
    clear: both;
}

.column-2 {
    float:left;
    width: 50%;
}

/*Article styling end*/

/*Article content styling*/

.column-2 > h1 {
    text-align: center;
}

dd {
    text-align: justify;
}

#my-photo {
    width: 300px;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

#hz-logo {
    width: 300px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.blog-article {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
}

.blog-article:last-of-type {
    margin-bottom: 50px;
}

.date {
    color: gray;
    font-size: 12px;
}

.blog-article > h1 {
    margin-top: 5px;
}

.blog-content {
    text-align: justify;
}
/*Article content styling end*/

/*Aside menu styling*/
aside {
    float: left;
    width: 17%;
    border-right: 1px solid black;
    font-size: 14px;
    font-weight: 600;
}

#aside-list li:not(:last-child){
    margin-bottom: 10px;
}
/*Aside menu styling end*/

/*Section styling*/
    #blog-section {
        text-align: center;
        color: black;
        font-size: 17px;
    }
/*Section styling end*/