:root {
    --main-color:rgb(133, 122, 200);
}

* {
    font-family: 'Nunito';
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.color {
    color: var(--main-color);
}

/* Navigation styling */
header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    height: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-links {
    height: 100%;
    width: 100%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 600;
}

.aside-link {
    margin: 0;
    text-decoration: none;
    color: black;
}

.home-link:hover, .profile-link:hover, .blog-link:hover, .faq-link:hover, .dashboard-link:hover {
    color: var(--main-color);
    transition: 0.2s ease;
}

.aside-link:hover {
    color: var(--main-color);
    transition: 0.2s ease;
}

.home-link, .profile-link, .blog-link, .faq-link, .dashboard-link {
    color: black;
    text-decoration: none;
}

/*Navigation styling end*/

/*Article styling*/

#home-article {
    margin: 0;
    margin-bottom: 50px;
    width: 60%;
    align-items: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px 10px 30px;
}

.home-column {
    display: inline-block;
    margin: 0;
    margin-top: 130px;
}

#blog-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    padding: 10px 30px 10px 30px;
}

#normal-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 130px;
    padding: 10px 30px 10px 30px;
}

#profile-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 130px;
    
}

.table:after {
    content: "";
    display: table;
    clear: both;
}

.column-3 {
    margin: 0;
    float: left;
    width: 33.33%;
}

/*Article styling end*/

/*Article content styling*/

.column-3 > h1 {
    text-align: center;
    margin: 0;
}

dd {
    text-align: justify;
}

#my-photo {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

#certificate {
    width: 300px;
    height: 200px;
}

#hz-logo-link {
    width: 300px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#hz-logo {
    width: 100%;
    height: 100%;
}

.home-paragraph {
    text-align: justify;
}


.shadow-box {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.shadow-box:last-of-type {
    margin-bottom: 50px;
}

.date {
    color: gray;
    font-size: 12px;
}

.blog-article > h1 {
    margin-top: 5px;
}

.blog-content {
    text-align: justify;
}

.question {
    font-weight: 600;
    margin-top: 20px;
}

.question:last-of-type {
    margin-bottom: 20px;
}

.question:hover {
    color: var(--main-color);
    cursor: pointer;
}

.brand-logo {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    transition: all .3s ease-in-out;
}

.brand-logo:hover {
    transform: scale(1.05);
}

.certificate-paragraph p{
    margin: 0;
    float: left; 
    width: 60%; 
}

.certificate-paragraph div {
    float:right;
}

/*Article content styling end*/

/*Aside menu styling*/
aside {
    float: left;
    padding: 0 !important;
    margin-right: 2%;
    width: 17%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}

#aside-list li:not(:last-child){
    margin-bottom: 10px;
}
/*Aside menu styling end*/

/*Section styling*/
    #blog-section {
        text-align: center;
        color: black;
        font-size: 17px;
        margin-top: 130px;
    }

    .read-more {
        text-decoration: none;
        color: var(--main-color);
    }
/*Section styling end*/

/*Footer styling*/
footer {
    margin-top: auto;
    bottom: 0;
    height: 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.social-media-link {
    text-align: center;
    align-items: center;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
}

.social-media-link img {
    height: 30px;
    width: 30px;
}

.social-media-link a {
    margin-left: 1%;
}

.social-media-link a:first-child {
    margin: 0;
}
/*Footer styling end*/

/*Dashboard styling*/

#dashboard-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
}

#dashboard-article:first-of-type {
    margin-top: 130px;
}

#dashboard-table {
    border-collapse: collapse;
    width: 100%;
}

#dashboard-table th {
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 0px grey;
    padding: 0.5%;
}

.dashboard-content {
    padding: 1%;
}

.no-bottom-border {
    box-shadow: 1px 0px 0px 0px grey !important;
}

.no-right-bottom-border {
    box-shadow: 0px 0px 0px 0px grey !important;
}

.no-right-border {
    box-shadow: 0px 1px 0px 0px grey !important;
}

#nbsa-progress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 20px;
    outline: 2px solid black;
    border-radius: 2em;
    padding: 5px;
}

#nbsa-limit {
    width: 80%;
    height: 100%;
    border-right: 2px dotted black;
}

#nbsa-value {
    border-radius: 2em;
    height: 100%;
    background-color: var(--main-color);
    float: left;
}

.nbsa-title {
    margin: 0;
    text-align: center;
}
/*Dashboard styling end*/